.cabecalho-moda {
    background-color: #BB86FC;
    color: #F0F8FF;
}

.cabecalho-casa {
    background-color: #00C4B4;
    color: #F0F8FF;
}

.produtos-valores {
    background-color: #424250;
    color: #F0F8FF;
}